.lanyard-wrapper {
  position: relative;
  z-index: 20;
  width: 100%;
  height: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
}

.lanyard-wrapper canvas {
  width: 100% !important;
  height: 100% !important;
  touch-action: none;
}

@media (max-width: 900px) {
  .lanyard-wrapper {
    height: 620px;
  }
}

@media (max-width: 640px) {
  .lanyard-wrapper {
    height: 560px;
    margin-top: -20px;
  }
}